*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#020617);
}

.container{
width:90%;
max-width:360px;
background:#1e293b;
padding:40px 25px;
border-radius:25px;
text-align:center;
box-shadow:0 0 35px #00ff99;
}

.logo{
font-size:48px;
font-weight:bold;
color:#00ff99;
margin-bottom:15px;
}

.tag{
color:#cbd5e1;
font-size:18px;
margin-bottom:40px;
}

#startBtn{
width:100%;
padding:16px;
border:none;
border-radius:15px;
font-size:20px;
font-weight:bold;
cursor:pointer;
background:linear-gradient(90deg,#00ff99,#00c8ff);
color:#000;
transition:.3s;
}

#startBtn:active{
transform:scale(.95);
}